*,
html,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
body {
  background-color: #eff6e0;
  color: #01161e;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.6;
}
h1 {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 700;
  font-size: clamp(4rem, 4vw, 6rem);
}
h2 {
  font-weight: 400;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: clamp(2.6rem, 4vw, 4rem);
}
h3 {
  font-size: clamp(2.2rem, 2vw, 2.8rem);
  font-weight: 400;
  font-family: 'Quattrocento Sans', sans-serif;
}
h4 {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Quattrocento Sans', sans-serif;
  text-transform: uppercase;
}
h5 {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Quattrocento Sans', sans-serif;
  margin-top: 4rem;
}
a {
  font-size: 1.8rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
}
a:hover {
  color: #01161e;
}
.link-btn {
  /*define background color*/
  background-color: #aec3b0;
  color: #01161e;
  border: none;
  border-radius: 1.8rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  width: max-content;
  cursor: pointer;
  transition: all 0.2s;
}
.link-btn:hover {
  background-color: #598392;
  color: #eff6e0;
}
.link-btn-invert {
  /*define background color*/
  background-color: #124559;
  color: #eff6e0;
  border: none;
  border-radius: 1.8rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  width: max-content;
  cursor: pointer;
  transition: all 0.2s;
}
.link-btn-invert:hover {
  background-color: #aec3b0;
  color: #01161e;
}
button {
  font-size: 1.6rem;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.6;
}
.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 3rem;
}
.mb-lg {
  margin-bottom: 4rem;
}
.mb-hg {
  margin-bottom: 8rem;
}
.mt-sm {
  margin-top: 2rem;
}
.mt-md {
  margin-top: 3rem;
}
.mt-lg {
  margin-top: 4rem;
}
.mt-hg {
  margin-top: 8rem;
}
.fixed {
  position: fixed;
}
.logo {
  width: clamp(8rem, 12vw, 12rem);
  height: auto;
}
.nav {
  grid-row: 1/ 2;
  grid-column: 1 / -1;
  width: 100vw;
  display: flex;
  z-index: 20;
  position: fixed;
}
.nav > div {
  flex-grow: 1;
  padding: 2rem;
}
nav {
  flex-grow: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(245, 15, 15, 0.788);
  border-radius: 20rem;
}
nav > a {
  color: #eff6e0;
  padding: 0.5rem 1rem;
}
.mobile-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  margin-top: clamp(1.5rem, 0.5vw, 3rem);
  margin-right: clamp(0.5rem, 0.7rem, 1rem);
  width: 3.5rem;
  height: 3rem;
  cursor: pointer;
  z-index: 30;
}
@media only screen and (max-width: 768px) {
  .mobile-menu {
    display: flex;
  }
  nav {
    display: none;
  }
  .nav-cont {
    display: grid;
    justify-content: flex-end;
  }
}
.line {
  display: block;
  width: 100%;
  height: 0.3rem;
  background-color: #01161e;
  transform: none;
  transition: all 0.25s ease-in-out;
}
.change--1 {
  transform: translateY(0.7rem) rotateZ(45deg);
  background-color: #eff6e0;
}
.change--2 {
  display: none;
}
.change--3 {
  transform: translateY(-0.8rem) rotateZ(-45deg);
  background-color: #eff6e0;
}
.mobile-list {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 4rem;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #124559;
  z-index: 25;
  transition: all 0.3s ease-in-out;
}
.mobile-list > img {
  padding-bottom: 4rem;
}
.mobile-list > a {
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #eff6e0;
  transition: all 0.3s ease-in-out;
}
.mobile-list > a:active,
.mobile-list > a:focus,
.mobile-list > a:hover {
  color: #598392;
  background-color: #aec3b0;
}
.mobile-list-show {
  display: flex;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 4rem;
}
.container > div {
  width: 50vw;
}
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .container > div {
    width: 100vw;
  }
}
footer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  align-content: center;
  grid-row: 6 / 7;
  grid-column: 1/ -1;
  background-color: #124559;
  color: #eff6e0;
}
@media only screen and (max-width: 800px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}
.footer-address {
  grid-row: 1/ 7;
  grid-column: 1/ 3;
  align-self: center;
}
.footer-logo {
  grid-column: 2 /5;
  grid-row: 1/ 7;
  align-self: center;
}
.footer-contact {
  grid-row: 1/ 7;
  grid-column: 4/ 6;
  align-self: center;
}
.footer-contact a {
  color: #eff6e0;
}
.footer-contact a:hover {
  color: #000b0f;
}
.footer-btn {
  grid-column: 6 /7;
  grid-row: 1/ -1;
  align-self: center;

  display: flex;
  justify-content: center;
  padding: 1rem;
  height: clamp(4rem, 4vw, 8rem);
  width: clamp(4rem, 4vw, 8rem);
  background-color: #aec3b0;
  border-radius: 100%;
}
@media only screen and (max-width: 800px) {
  .footer-btn {
    height: 6rem;
    width: 6rem;
  }
}
.up {
  width: 4rem;
  height: auto;
}
form {
  width: 90vw;
  padding-left: clamp(0rem, 2vw, 20rem);
}
fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  width: max-content;
}
label,
input,
span {
  font-size: clamp(1.6rem, 2vw, 2rem);
  margin: 0.5rem;
}
span {
  color: red;
}
input {
  border-radius: 0.4rem;
  border: thin solid rgb(255, 255, 255);
  padding: 0.75rem 1rem;
  color: rgb(94, 94, 94);
}

.home-layout {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 14rem)) minmax(6rem, 1fr);
  grid-template-rows: 8rem repeat(5, minmax(6rem, min-content));
}
.hero {
  grid-row: 1/3;
  grid-column: 1 / -1;
  height: 95vh;
  background-image: url(./img/marylandCrabCakes.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-rows: repeat(10, 10%);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero-sm {
  grid-row: 1/3;
  grid-column: 1 / -1;
  height: 65vh;
  background-image: url(./img/crabsoup.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-sm-local {
  grid-row: 1/3;
  grid-column: 1 / -1;
  height: 65vh;
  background-image: url(./img/restaurant_sitting.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-sm-merch {
  grid-row: 1/3;
  grid-column: 1 / -1;
  height: 65vh;
  background-image: url(./img/package.jpg);
  background-color: #aec3b0;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-sm-cart {
  grid-row: 1/3;
  grid-column: 1 / -1;
  height: 65vh;
  background-image: url(./img/cart.jpg);
  background-color: #aec3b0;
  background-position: top;
  background-repeat: no-repeat;
  background-size: stretch;
}
.title-cont {
  grid-row: 4/7;
  grid-column: 1/ -1;
  justify-self: center;
  background-color: rgba(175, 22, 22, 0.767);
  border-radius: 2rem;
  color: #eff6e0;
  text-align: center;
  padding: 6rem;
}
@media only screen and (max-width: 1200px) {
  .title-cont {
    width: 75%;
  }
}
.scroll-more {
  grid-row: 9/ 11;
  margin: 0 auto;
  width: 4rem;
  height: 7rem;
  border: 0.2rem solid #eff6e0c2;
  border-radius: 6rem;
  position: relative;
}
.scroll-more::before {
  content: '';
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #eff6e0c2;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
}
/*Keyframe for scroll animation*/
@keyframes wheel {
  to {
    opacity: 0;
    top: 6rem;
  }
}
.row-1 {
  grid-row: 3/ 4;
  grid-column: 1/ -1;
}
.row-1-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
  justify-content: space-evenly;
  height: 100%;
  padding: 4rem;
}
.row-1-text > .right {
  margin-left: 70%;
}
.row-1-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #598392;
}
.row-1-img > iframe {
  margin: 2rem 0;
}
.row-1-img-1 {
  width: 100%;
  padding: 4rem;
}
.view-menu-text > h1 {
  width: 75%;
  line-height: 1.4;
  padding: 2rem;
}
.view-menu-text > h3 {
  line-height: 1.4;
  padding-left: 2rem;
  padding-bottom: 2rem;
}
.view-menu-btn {
  padding: 1rem 2rem;
}
.view-menu-img {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: end;
  background-color: #aec3b0;
  padding: 4rem;
}
.view-menu-img > img {
  width: 70%;
}
@media only screen and (max-width: 768px) {
  .view-menu-img > img {
    width: 100%;
  }
}
.view-menu-img-1 {
  grid-row: 2/ 6;
  grid-column: 1/ 5;
  align-items: end;
}
.view-menu-img-2 {
  grid-row: 1/ 5;
  grid-column: 3/ 6;
}
.row-2 {
  grid-row: 4/ 5;
  grid-column: 1/ -1;
  width: 100%;
  height: 100%;
  background-color: #598392;
}
.row-2-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row-2-text {
  background-color: #eff6e0;
  padding: 6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: start;
  justify-content: space-evenly;
  gap: 2rem;
}
.hours {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: start;
  justify-content: space-evenly;
}
.hours p {
  font-size: clamp(1.2rem, 2vw, 3.2rem);
}
@media only screen and (max-width: 500px) {
  .hour9s {
    flex-wrap: wrap;
  }
}
.days,
.times {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row-3 {
  grid-row: 5 / 6;
  grid-column: 1 / -1;
  display: flex;
  margin-top: 8rem;
  background-color: #598392;
}
@media only screen and (max-width: 1300px) {
  .row-3 {
    flex-direction: column;
  }
}
.row-3-img > img {
  width: 100%;
}
.row-3-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: 100%;
  width: 100%;
  padding: 6rem;
  color: #eff6e0;
}
.reservation-form {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #598392;
  color: #eff6e0;
}

.form-row {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
.form-row-wrap {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .form-row-wrap {
    flex-wrap: wrap;
  }
  .form-submit {
    display: flex;
    justify-content: center;
  }
}

/*MENU*/
.menu {
  grid-column: 1/ -1;
  grid-row: 3/ 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
  color: #124559;
  gap: 6rem;
}
.menu-title {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
  gap: 6rem;
  cursor: pointer;
}
.menu-title::before,
.menu-title::after {
  content: '';
  width: 16%;
  height: 0.1rem;
  background-color: #01161e;
  z-index: 4;
}
.menu-title > h1 {
  z-index: 4;
  padding: 5rem 0;
}
#seafood-img {
  display: none;
  opacity: 0;
  position: absolute;
  top: 330px;
  left: 800px;
  z-index: 3;
}
#landfood-img {
  display: none;
  opacity: 0;
  position: absolute;
  top: 330px;
  left: 800px;
  z-index: 3;
}
#veggie-img {
  display: none;
  opacity: 0;
  position: absolute;
  top: 330px;
  left: 800px;
  z-index: 3;
}
#drinks-img {
  display: none;
  opacity: 0;
  position: absolute;
  top: 330px;
  left: 800px;
  z-index: 3;
}
#dessert-img {
  display: none;
  opacity: 0;
  position: absolute;
  top: 330px;
  left: 800px;
  z-index: 3;
}
.all-seafood,
.all-landfood,
.all-veggie,
.all-drinks,
.all-dessert {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 2rem;
  cursor: pointer;
}
.collapsed {
  display: none;
}
.menu-item {
  width: 100%;
  border-bottom: 0.1rem solid #124559;
  padding: 2rem;
  cursor: default;
}
.menu-img {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  margin: 1rem;
}
/*Merch*/
.merch {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 2rem 0;
  color: #124559;
}
#product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  align-items: start;
  justify-content: space-evenly;
}
.product-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5rem;
}
.product-picture {
  height: 200px;
  width: 200px;
}
.product-subtitle,
.product-price {
  margin: 0;
}
#add-to-cart {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  width: 100%;
}
#decrement-button,
#increment-button {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 2.6rem;
  height: min-content;
  height: 4rem;
  width: 4rem;
  color: #eff6e0;
  background-color: #124559;
  border: none;
  border-radius: 20rem;
  cursor: pointer;
}
#item-count {
  background-color: #124559;
  color: #eff6e0;
  border-radius: 20rem;
  padding: 0.5rem 3rem;
}
.cart {
  grid-column: 1/-1;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 0 auto;
  color: #124559;
  gap: clamp(2rem, 6vw, 4rem);
}
.cart-obj {
  border: solid 0.1rem #01161e;
  border-radius: 2rem;
  padding: clamp(1rem, 3vw, 3rem);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 45%;
}
.cart-item {
  display: flex;
  align-items: center;
  gap: 4rem;
}
@media only screen and (max-width: 350px) {
  .cart-item {
    flex-direction: column;
    gap: 2rem;
    padding: clamp(1rem, 2vw, 3rem);
  }
}
.cart-options {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: space-evenly;
}
@media only screen and (max-width: 780px) {
  .cart-options {
    flex-direction: column;
    gap: 0.5rem;
  }
}
.cart-wrapper {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: space-evenly;
}
@media only screen and (max-width: 600px) {
  .cart-wrapper {
    flex-direction: column;
    gap: 0.5rem;
  }
}
.cart-item h5 {
  margin-top: 0;
}
.flex-hz-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.cart-wrapper > img {
  max-width: clamp(10rem, 10vw, 16rem);
  height: auto;
}
#remove-btn {
  padding: 1.8rem 3rem;
}
@media only screen and (max-width: 800px) {
  #remove-btn {
    padding: 0.5rem 1.4rem;
  }
}
.checkout {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  width: max-content;
  gap: clamp(2rem, 6vw, 4rem);
}
@media only screen and (max-width: 400px) {
  .checkout {
    flex-direction: column;
  }
}
#checkout-price {
  font-weight: 400;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: clamp(2.6rem, 4vw, 4rem);
}
